@model List<Trip>

@{
    var stations = ViewBag.Stations;
}

<head>

    <link rel="stylesheet" href="/css/allstyles2.css">

</head>
@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
            <use xlink:href="#check-circle-fill" />
        </svg>
        <div>
            @TempData["Message"]
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
</svg>

<body>
    <div class="container">
        <h1>All Available Trips</h1>
        <div class="container mb-4">

            <div class="container mb-4">
                <form asp-action="Filter" asp-controller="Trip" class="mb-4">
                    <div class="row">
                        
                        <div class="col-md-4 form-group">
                            <label for="Startstation">Start Station:</label>
                            <select name="Startstation" id="Startstation" class="form-control">
                                <option value="">All Stations</option>
                                @foreach (var station in stations)
                                {
                                    <option value="@station.Id">@station.Name</option>
                                }
                            </select>
                        </div>

                      
                        <div class="col-md-4 form-group">
                            <label for="Endstation">End Station:</label>
                            <select name="Endstation" id="Endstation" class="form-control">
                                <option value="">All Stations</option>
                                @foreach (var station in stations)
                                {
                                    <option value="@station.Id">@station.Name</option>
                                }
                            </select>
                        </div>

                        
                        <div class="col-md-4 align-self-end">
                            <button  class="button"> Filter Trips</button>
                        </div>
                    </div>
                </form>
            </div>


        <table>
            <thead>
                <tr>
                    <th>Departure</th>
                    <th>Arrival</th>
                    <th>Duration</th>
                    <th>Price</th>
                    <th>Train</th>

                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var trip in Model)
                {
                  
                    <tr>
                        <td>
                            <div class="time">@trip.StartStation.Name</div>
                            <div class="station">@trip.StartTime.ToString("yyyy-MM-dd HH:mm")</div>
                        </td>
                        <td>
                            <div class="time">@trip.EndStation.Name</div>
                            <div class="station">@trip.EndTime.ToString("yyyy-MM-dd HH:mm")</div>
                        </td>
                        <td>@trip.Duration</td>
                        <td class="price">@trip.Price.ToString("C")</td>
                        <td>@trip.Train.Model</td>
                        <td>
                            <a asp-action="Create" asp-controller="Ticket" asp-route-Id="@trip.Id" class="button">Buy Ticket</a>
                           
                           
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>